<div class="row">
  <section class="main col-md-9">
    <article>
      <h1>About app</h1>

      <p>This is a
        <b>nodeJS</b>
        web app was built by utilizing
        <b>REST API</b>. This web app uses multiple routes which serve static
        files (HTML & CSS) as well as create a "blog service" module for
        accessing data. Hatdlebars view engine was used to render JSON data
        visually in the browser using .hbs views and layouts. In order to
        complete "Register" and "Log In" process the app utilizes the
        <b>Postgress Database</b>
        in order to store clients' username and password information which was
        encrypted by
        <b>bcrypt.js</b>. Client sessions and blog data are being stored using
        MongoDB to add user registration and Login/Logout functionality and
        tracking.
      </p>

    </article>
  </section>
  <aside class="col-md-3">
    <h2>About author</h2>
    <p>My name is Anton Lyapunov. </p>
    <p>I am a computer programming student expected to graduate in August 2022
      with a strong background in electronics engineering technology, and over 5
      years of experience in Canadian telecommunications industry. Looking to
      utilize my programming, communication and project management skills,
      adaptability, creativity, and high work ethic at a junior developer
      position. Canadian Permanent Resident, willing to travel and relocate for
      the right opportunity.</p>
  </aside>
</div>